<% if(productos.length > 0 ){ %>
    
       
             
            <%productos.forEach(function(producto) { %>
                
                        <div class="card">
                            <img src="<%=producto.imagen%>" alt="<%=producto.nombre%>" width="200">
                            <div class="card-body">
                                <h5><%=producto.nombre%></h5>
                                <p><%=producto.precio%></p>
                                <p><%=producto.cantidad%></p>
                                <button class="btn btn-dark">Comprar</button>
                            </div>
                        </div>
                    
                <%});%>    
          
   
<% } else { %>
    <h3 class="alert alert-danger">No se encontraron productos</h3>
<% } %>

